<phpunit bootstrap="./tests/Bootstrap.php">

    <testsuites>
        <testsuite name="WebIt4Me\Reader test">
            <directory>./tests/src</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false" >
            <file>./src/TimeZone.php</file>
            <file>./src/AbstractTimeZoneEnum.php</file>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./tests/logs/reader.xml"/>
    </logging>

</phpunit>
